*,*::before,*::after{
    box-sizing: border-box;
}

body{
    background-color: #888;
}
.mustang{
    width: 500px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 2px black;
}

.title-table{
    font-size: 2em;
}

.img-table{
    width: 450px;
}